
  .container-astuntas {
    margin: 0 auto;
    max-width: 1400px;
    height: 120px;
      border:2px solid red;
      background-color: black;
      display: flex;
      flex-direction: row-reverse;
      
      justify-content: space-between;  
      align-items: center;  
    }

    .astuntastekstas {
        opacity: 0.5;
        margin-right: 150px;
    }