@media (max-width:800px) {
               
            .container-pirmas-nav-desine{
                flex-direction: column;
            }
            .container-pirmas-nav{
                flex-direction: column;
            }
            .container-pirmas-nav-kaire{
                flex-direction: column;
            }
            .containerpirmassekantis {
                flex-direction: column;
            }
.containerantrasdesine {
    margin: 0 auto;
}
            .container-antras, .container-trecias {
                flex-direction: column;
               
            }



h1, h8 {
    font-size: 16px;
}
   
          
               .burger {
            
                 opacity: 1;
            
        }
        
    }
    
   
    @media (min-width:800px) {
        .burger {
            opacity: 0;
        }
    }