
     .navifooterfacebook {
    
        width: 30px;
        height: 30px;
     margin-left: 10px;
        border: 2px solid blue;
        background-image: url("facebook-logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 50px;
                
      }
      .navifooterinstagram {
      
        width: 30px;
        height: 30px;
      
        border: 2px solid blue;
        background-image: url("instagram-logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 50px;
      }
  
   .navifootertweeter {
      
        width: 30px;
        height: 30px;
      //  margin:30px;
        border: 2px solid blue;
        background-image: url("twitter.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 50px;
      }
      .navifooterprint {
      
        width: 30px;
        height: 30px;
      //  margin:30px;
        border: 2px solid blue;
        background-image: url("pinterest.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 50px;
      }
      .navifooterwifi {
      
        width: 30px;
        height: 30px;
       margin-right: 10px;
        border: 2px solid blue;
        background-image: url("Group 87.svg");
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 50px;
      }