
     .navifooterfacebook {
    
        width: 30px;
        height: 30px;
     margin-left: 10px;
        // border: 2px solid blue;
        background-image: url("facebook-logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
       

             
      }
      .navifooterinstagram {
      
        width: 30px;
        height: 30px;
      
        // border: 2px solid blue;
        background-image: url("instagram-logo.svg");
        background-repeat: no-repeat;
        background-position: center center;
       
      }
  
   .navifootertweeter {
      
        width: 30px;
        height: 30px;
    
        // border: 2px solid blue;
        background-image: url("twitter.svg");
        background-repeat: no-repeat;
        background-position: center center;
        
      }
      .navifooterprint {
      
        width: 30px;
        height: 30px;
      
        // border: 2px solid blue;
        background-image: url("pinterest.svg");
        background-repeat: no-repeat;
        background-position: center center;
       
      }
      .navifooterwifi {
      
        width: 30px;
        height: 30px;
       margin-right: 10px;
        // border: 2px solid blue;
        background-image: url("Group 87.svg");
        background-repeat: no-repeat;
        background-position: center center;
       
        
       
      }

      .containerpirmastreciasdesine {
        width: 50%;
        max-width: 600px;
        //  border:2px solid green;
         display: flex;
     justify-content:space-around;
     align-items: center;
        }
      .containerastuntaskaire {
        width: 50%;
        // max-width: 600px;
        //  border:2px solid green;
         display: flex;
     justify-content:space-around;
    //  margin-left: 150px;
     align-items: center;
        }

      