
 .container-septintas {
    margin: 0 auto;
    max-width: 1400px;
      // border:2px solid red;
      background-color: #E27866;
      display: flex;
      flex-direction: column;
      justify-content: space-between;  
      align-items: center;  
    }
    .containerseptintaspirmas {
        // border: 2px solid red;
        text-align: center;
        margin-top: 80px;
        position: relative; 
    }
    .send {
        width: 400px;
        // height: 300px;
        // border: 2px solid blue;
        background-color:#FFFFFF;
        border-radius: 10px;
        display: inline-block; 
        position: relative;
    margin-bottom: 45px;
    text-align: center;
    
    }

     .send[type=submit] {
      background-color: #41D395;
      border: none;
      color:white;
      padding: 30px 32px;
      text-decoration: none;
      margin:40px;
      width: 180px;
      border-radius: 10PX;
      cursor: pointer;
      display: inline-block;
           }
    
        
        
    

   