.container-sestas {
    margin: 0 auto;
    max-width: 1400px;
    // height: 500px;
      border:2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;  
      align-items: center;  
    }


    .containersestaspirmas {
        border: 2px solid red;
        text-align: center;
        margin-top: 40px;
        
    }
    .containersestasapatinis {
        // border: 2px solid green;
        text-align: center;
        // margin: 40px;
        width: 100px;
        height: 5px;
        display:flex;
        justify-content: space-between;
        margin-bottom: 60px;

        
    }
    .containersestasapatinisrutuliukai {
        border: 2px solid #E27866;
        border-radius: 50%;
        // text-align: center;
    //   margin: 10px;
        width: 10px;
        height: 10px;

        
    }

       
    .juostamelyna {
    background-color:#6696E2;
    width: 80px;
    height: 2px;
    margin:40px;
}

.containersestastrecias {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 90px;
    // background-color: black;
    // overflow: ; 
//     position: relative;



}
.containersestastreciaspirmas {
    display: flex;
 flex-direction: column;
 align-items: flex-end;


}

.containersestastreciaspirmaspirmastekstas {
    background-color: #6696E2;
    position: relative;
    border-radius: 10px;
    // display: inline-block;
    width: 200px;
    padding-bottom: 10px;
    padding:20px;

   
  
}

.containersestastreciaspirmaspirmastekstas::before{
    content: "";
    width: 50px;
    height: 50px;
    // border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    background-image: url("avatar_2_u231-compressor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -70px;
    left: 35px;

}

.containersestastreciaspirmaspirmastekstas::after{
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    // border: 2px solid red;
    background-color: #6696E2;
    position: absolute;
    bottom: -10px;
    left: 50px;
    
       
}
.containersestastreciaspirmaspirmaskas {
    border: 2px solid red;
    
    text-align: right;
    width: 130px;
    text-align: start;
   
}
